({
    "menu_bg": Image (
        path: "game/main_menu.png",
        sampler: Nearest
    ),

    "game_over_bg": Image (
        path: "game/lost_menu.png",
        sampler: Nearest
    ),

    "full_completion_bg": Image (
        path: "game/full_completion.png",
        sampler: Nearest
    ),

    "sonic": TextureAtlas (
        path: "game/sonic.png",
        tile_size_x: 49.,
        tile_size_y: 56.,
        columns: 10,
        rows: 8,
    ),
    
    "level1": Image (
        path: "game/level1.png",
        sampler: Nearest
    ),  

    "level2": Image (
        path: "game/level2.png",
        sampler: Nearest
    ),

    "main_font": File (
        path: "shared/FiraSans-Bold.ttf",
    ),

    "gate_0": Image ( path: "game/gate_0.png", sampler: Nearest),
    "gate_1": Image (path: "game/gate_1.png", sampler: Nearest),
    "gate_2": Image (path: "game/gate_2.png", sampler: Nearest),
    "gate_3": Image (path: "game/gate_3.png", sampler: Nearest),
    "gate_4": Image (path: "game/gate_4.png", sampler: Nearest),
    "gate_5": Image (path: "game/gate_5.png", sampler: Nearest),
})
