({
    "menu_bg": Image (
        path: "game/main_menu.png",
        sampler: Nearest
    ),

    "game_over_bg": Image (
        path: "game/lost_menu.png",
        sampler: Nearest
    ),

    "full_completion_bg": Image (
        path: "game/full_completion.png",
        sampler: Nearest
    ),

    "sonic": TextureAtlas (
        path: "game/sonic.png",
        tile_size_x: 49.,
        tile_size_y: 56.,
        columns: 10,
        rows: 8,
    ),
    
    "level1": Image (
        path: "game/level1.png",
        sampler: Nearest
    ),  

    "level2": Image (
        path: "game/level2.png",
        sampler: Nearest
    ),  

    "main_font": File (
        path: "shared/FiraSans-Bold.ttf",
    ),  
})
