({
    "preload_background": Image (
        path: "menu/menu_background.png"
    ),

    "loading_icon": TextureAtlas (
        path: "menu/sonic_waiting_sheet.png",
        tile_size_x: 49.,
        tile_size_y: 56.,
        columns: 10,
        rows: 3,
    ),

    "loading_font": File (
        path: "shared/FiraSans-Bold.ttf",
    ),

})
